<p>Дорогой {{ user.username }},</p>
<p>Добро пожаловать в <b>MySite</b>!</p>
<p>Чтобы подтвердить свою учетную запись, пожалуйста <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">нажмите сюда</a>.</p>
<p>Кроме того, вы можете вставить следующую ссылку в адресную строку вашего браузера:</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
<p>С уважением,</p>
<p>команда MySite</p>
<p><small>Примечание: ответы на этот адрес электронной почты не отслеживаются.</small></p>