<p>Дорогой {{ user.username }},</p>
<p>Чтобы сбросить пароль<a href="{{ url_for('auth.password_reset', token=token, _external=True) }}"> нажмите сюда</a>.</p>
<p>Кроме того, вы можете вставить следующую ссылку в адресную строку вашего браузера:</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>
<p>Если вы не запросили сброс пароля, просто проигнорируйте это сообщение.</p>
<p>С уважением,</p>
<p>команда MySite</p>
<p><small>Примечание: ответы на этот адрес электронной почты не отслеживаются.</small></p>